body {
    margin: 0px;
    font-family: 'Cabin Sketch', cursive;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
    background-image: url("./pictures/desk.jpg");
    background-size: 2000px 1100px;
}

.app {
    width: 700px; 
    height: 850px;
    background-image: url("./pictures/notebook-lined-paper-background.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app h1 {
    font-size: 4em;
}